@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 236.7 30.2% 13.4%;
    --card: 0 0% 100%;
    --card-foreground: 236.7 30.2% 13.4%;
    --popover: 0 0% 100%;
    --popover-foreground: 236.7 30.2% 13.4%;
    --primary: 241.6 70.5% 65.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233.1 21.4% 96%;
    --secondary-foreground: 235.5 19.6% 32.5%;
    --muted: 233.1 21.4% 96%;
    --muted-foreground: 234.2 10.8% 49.1%;
    --accent: 233 21.4% 98%;
    --accent-foreground: 235.5 19.6% 32.5%;
    --destructive: 358.8 58.8% 54.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 233.1 13% 89.7%;
    --input: 233.1 13% 89.7%;
    --ring: 241.6 70.5% 65.3%;
    --radius: 0.5rem;
    --chart-1: 241.6 70.5% 65.3%;
    --chart-2: 342.5 100% 70.2%;
    --chart-3: 148.1 44.3% 39%;
    --chart-4: 42 63.2% 36.9%;
    --chart-5: 358.8 58.8% 54.2%;
  }

  .dark {
    --background: 236.7 30.2% 8%;
    --foreground: 233.2 13.7% 85.7%;
    --card: 236.7 30.2% 8%;
    --card-foreground: 233.2 13.7% 85.7%;
    --popover: 236.7 30.2% 8%;
    --popover-foreground: 233.2 13.7% 85.7%;
    --primary: 241.6 70.5% 65.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 236.7 20% 15%;
    --secondary-foreground: 233.2 13.7% 85.7%;
    --muted: 236.7 20% 15%;
    --muted-foreground: 233.6 11.1% 66.5%;
    --accent: 236.7 20% 18%;
    --accent-foreground: 233.2 13.7% 85.7%;
    --destructive: 358.8 58.8% 40%;
    --destructive-foreground: 233.2 13.7% 85.7%;
    --border: 236.7 20% 18%;
    --input: 236.7 20% 18%;
    --ring: 241.6 70.5% 65.3%;
    --chart-1: 241.6 70.5% 65.3%;
    --chart-2: 342.5 100% 70.2%;
    --chart-3: 148.1 44.3% 45%;
    --chart-4: 42 63.2% 45%;
    --chart-5: 358.8 58.8% 54.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

